**Make a duplicate copy of google colab by clicking File/ Save a copy in Drive option. A duplicate copy will get created. It will open up in the new tab on your web browser .After that change share settings**

1. Write  code to
    a)Create different numeric data , print its value and type

    b) Perform addition subtraction multiplication and division on numbers in Python

In [ ]:
#write your code here
a=1
b=10
print(a)
print(b)
print(a/b)
print(a*b)
print(a+b)
print(a-b)

1
10
0.1
10
11
-9

 2. Write code to
    1. Create a list contain Reg No., Name and Mark of 2 subjects(out of 100) of a student and Append one more mark to the  
    2. Print the list

In [ ]:
#write your code here
l =[1,"abhi",50,60]
print(l)
l.append(80)
print(l)

[1, 'abhi', 50, 60]
[1, 'abhi', 50, 60, 80]

** 3. Update the value of the second mark**

In [ ]:
#write your code here

print(l)
l[3]=88
print(l)

[1, 'abhi', 45, 60, 80]
[1, 'abhi', 45, 88, 80]

** 4. Create a random list contain 10 elements with values between 40 and 80**

In [ ]:
#write your code here
import random
randomlist = []
for i in range(0,10):
  n = random.randint(40,80)
  randomlist.append(n)
print(randomlist)

[65, 43, 67, 53, 79, 77, 79, 48, 59, 54]

** 5. Decrement the value of each element in the above list**

In [ ]:
#write your code here
print(randomlist)
for i in range(0,10):
  randomlist[i]=randomlist[i]-5
print(randomlist)

[65, 43, 67, 53, 79, 77, 79, 48, 59, 54]
[60, 38, 62, 48, 74, 72, 74, 43, 54, 49]

**Create a dictionary  store the Name, City and Mobilw number of a person
Print the Name and Mobile number**

In [ ]:
#wite your code here
mydict = {
    "Name":"Abhi",
    "city":"kochi",
    "mobile": 9928212423
}
print(mydict)
print(mydict["Name"],' :',mydict["mobile"] )

{'Name': 'Abhi', 'city': 'kochi', 'mobile': 9928212423}
Abhi  : 9928212423